

    <div class="ml-4">
        <div class="row mt-3">
            <div class="col-9">
                <div style="width: 60%;">
                    <div class="content">
                        <h4>{{ title }} {{subtitle}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 10%">
            <div class="col-12">
             
                        <dx-chart [dataSource]="dataSource">
                    
                       <dxo-value-axis [axisDivisionFactor]="20">
                       </dxo-value-axis>

                            <dxo-margin [top]="20" [bottom]="20" [left]="30" [right]="30">
                            </dxo-margin>

                            <dxi-series valueField="currentYear" name="2018/2019"></dxi-series>
                            <dxi-series valueField="lastYear" name="2017/2018"></dxi-series>
                            <dxo-common-series-settings argumentField="activity" type="bar">
                                <dxo-label [visible]="true" [format]="{
                                type: 'fixedPoint',
                                precision: '0'
                            }"></dxo-label>
                            </dxo-common-series-settings>
                            <dxo-common-axis-settings color="black">

                                <dxo-common-annotation-settings color="black">
                                </dxo-common-annotation-settings>

                            </dxo-common-axis-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>


                        </dx-chart>
            
            </div>
        </div>
    </div>






